
<md-dialog aria-label="APP - Player">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>App - Player</h2>
                <span flex></span>
                <span class="fa fa-times" ng-click="close($event)"></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div style="width: 500px;">
                <videogular vg-theme="player.theme" >
                    <vg-media vg-src="player.sources">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                </videogular>
            </div>

        </md-dialog-content>
    </form>
</md-dialog>